<div class="recent-activity-container">
    <h2 class="component-header">Recent activities</h2>
    {% for message in all_messages %}
    <div class="activity-message">
        <small><a href="{% url 'user-profile' message.user.id  %}">@{{ message.user }}</a>  {{ message.created | timesince }} ago</small>
        <br>
        <small>replied to "{{ message.table }}"</small>
    
        <p class="activity-message-body">{{ message }}</p>
        {% if request.user == message.user %}
        <a class="simple-button" href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}
    </div>
    {% endfor %}
    
</div>
