<div>
    {% for table in tables %}
        <div>
            {% if request.user == table.host %}
            <a href="{% url 'update-table' table.id %}">Edit</a>
            <a href="{% url 'delete-table' table.id %}">Delete</a>
            {% endif %}
            <span>@{{ table.host.username }}</span>
            <h5>{{ table.id }} -- <a href="{% url 'table' table.id %}">{{ table.name }}</a></h5>
            <small>{{ table.topic.name }}</small>
            <hr>
        </div>

    {% endfor %}
</div>