{% extends 'main.html' %}

{% block content %}


<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5 class="table-counter">{{ table_count }} tables was found</h5>
        <a class="button create-table-button" href="{% url 'create-table' %}">+ Create table</a>
        {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>

{% endblock content %}
