{% extends 'main.html' %}


{% block content %}

{% if page == 'login' %}

<div class="form">
    <form class="form" method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username"/>

        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter password"/>

        <input class="button" type="submit" value="Log in"/>
    </form>
    <hr>
    <p>Haven't signed up yet?</p>
    <a class="simple-button" href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<div class="form">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button register-button" type="submit" value="Register"/>
    </form>
    <hr>
    <p>Already signed up?</p>
    <a class="simple-button" href="{% url 'login' %}">Log in</a>
</div>

{% endif %}

{% endblock content %}