

<div class="navbar">
    <div class="logo">
        <a href="/">
            <h1>LOGO</h1>
        </a> 
    </div>
    
    <div style="text-align: center">
        <form method="GET" action="{% url 'home' %}">
            <input class="search-bar" type="text" name="q" placeholder="Search for tables"/>
        
        </form>
    </div>
    
    
    
    <div class="log-menu">
        {% if request.user.is_authenticated %}
        <p>@{{ request.user }}</p>
        <a class="simple-button" href="{% url 'logout' %}">Log out</a>
        {% else %}
            
        <a class="simple-button" href="{% url 'login' %}">Log in</a>
        {% endif %}
    </div>
    
</div>
